<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Add Endangered Bird Species </h1>

        <form action="/birds" method="POST">
            Name:<br />
            <input type="text" name="name" /><br />
            Description:<br />
            <textarea name="description"></textarea><br />
            Image Link:<br />
            <input type="text" name="img" /><br />
            Population:<br />
            <input type="number" name="population" /><br />
            Native:<br />
            <input type="text" name="native" /><br />
            <br />
            <input type="submit" value="Add To List" />
        </form>
    </div>

</body>

</html>